
@{
}
<h2>Your agent has been added successfully!</h2>
<br />
<br />
<p><a href="/Home/AgentList">Click Here to View in Agent List.</a></p>
<br>
@*<p><a href="/Home/Agent/@Model.Agent.AgentCode">Click Here to View Agent Details.</a></p>
<br>*@


